.eventos-lista {
    list-style: none;
    display: flex;
    gap: 2rem;
    overflow: scroll;
}

.eventos-lista-item {
    background: var(--corBranca);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
}

.eventos-lista-item_link {
    text-decoration: none;
    background: var(--textoDestaque);
    border-radius: 10px;
    padding: 1rem;
    color: var(--corBranca);
    text-align: center;
}

.eventos-lista-item_link:hover {
    background: #7112b9;
}

@media (min-width: 720px) {
    .eventos-lista-item {
        width: 40%;
    }
}