.cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho-container-titulo {
    color: var(--corBranca);
    font-size: 3rem;
    text-align: center;
}